# -*- coding: utf-8; mode: gitignore; -*-
#
# .gitignore
#

# ============================================================
# 
# Directory keep file
# 
!.gitkeep

# ============================================================
# 
# Emacs template files
# 
*~
.*~
\#*#

# ============================================================
# 
# Emacs lisp  files
#
*.el
!core/libs/*.el

# ============================================================
# 
# Emacs lisp compiled files
# 
*.elc

# ============================================================
# 
# Ignore Directories
# 
auto-save-mode/
eshell/
elpa/
private/
tramp/
server/

# ============================================================
# 
# Other files
#
kkcrc
*.dat
session.*
.org-id-locations

# ============================================================
#  
# Document files
# 
*.html

# ============================================================
# 
# Cask directory
# 
.cask/

# ============================================================
# 
# Gasket directory
#
.gasket/
/network-security.data
